
.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.opensdf

*.log
*.temp
**/Debug
**/bin
**/obj
**/node_modules
**/TestResults
**/out/
**/build/
/logs/
/.gradle/
/.idea/

/.idea/

